:root {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: teal;
}

.container {
  max-width: 450px;
  margin: 100px auto;
  background: ivory;
}

h1 {
  width: 100%;
  background: rgb(11, 207, 77);
  padding: 15px;
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: center; 
}

#voice-type {
  display: block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    padding: 7px 12px;
    width: 85%;
    max-width: 85%; 
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
#voice-type::-ms-expand {
    display: none;
}
#voice-type:hover {
    border-color: #888;
}
#voice-type:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px rgba(11,207,77,0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
#voice-type option {
    font-weight:normal;
}

label {
  display: block;
  font-size: 12px;
  font-weight: 200;
  margin: 0px 0 20px 15px;
}


.modifier-input {
  display: block;
  width: 75%;
}

#input-text {
  display: block;
  width: 80%;
  height: 100px;
  margin: 50px auto 15px auto;
  padding: 5px;
}

button {
  width: 35%;
  height: 35px;
  margin: 15px auto;
  background-color: white;
  border: solid 1.7px rgb(59,153,252);
  border-radius: 3px;
  cursor: pointer;
  color: rgb(59, 153, 252);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.1s ease-in;
}

button:hover {
  background: rgb(59, 153, 252);
  border: none;
  color: white;
}

.button-speak {
  margin-left: 12.5%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 75%;
  margin: 25px auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.8px;
  cursor: pointer;
  box-shadow: 0px 0px 9.6px #ffffff, 0px 0px 0px #ffffff;
  background: #0bcf4d;
  border-radius: 9px;
  border: 0px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3.1px 3.1px 8.4px #0092c8, 0px 0px 3.1px #00a5e2;
  border: 0px solid #0000a6;
  height: 22px;
  width: 10px;
  border-radius: 50px;
  background: #008080;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #63f795;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.8px;
  cursor: pointer;
  box-shadow: 0px 0px 9.6px #ffffff, 0px 0px 0px #ffffff;
  background: #0bcf4d;
  border-radius: 9px;
  border: 0px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3.1px 3.1px 8.4px #0092c8, 0px 0px 3.1px #00a5e2;
  border: 0px solid #0000a6;
  height: 22px;
  width: 10px;
  border-radius: 50px;
  background: #008080;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #055620;
  border: 0px solid #ffffff;
  border-radius: 18px;
  box-shadow: 0px 0px 9.6px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range]::-ms-fill-upper {
  background: #0bcf4d;
  border: 0px solid #ffffff;
  border-radius: 18px;
  box-shadow: 0px 0px 9.6px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range]::-ms-thumb {
  box-shadow: 3.1px 3.1px 8.4px #0092c8, 0px 0px 3.1px #00a5e2;
  border: 0px solid #0000a6;
  height: 22px;
  width: 10px;
  border-radius: 50px;
  background: #008080;
  cursor: pointer;
  height: 5.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0bcf4d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #63f795;
}

